aside {
   display: flex;
   flex-direction: column;
   align-items: center;
   float: right;
   position: absolute;
   right: 10px;
   bottom: 45vh;
}
aside a {
   margin: 5px;
   text-decoration: none;
   color: #fff;
   font-size: 20px;
   transition: all ease-in .2s;
}
aside a:hover {
   color: rgb(22, 240, 240);
}
