#experiencia {
   width: 100%;
   height: 100vh;
   padding: 75px ;
   border-bottom: 5px solid #4c8292;
   display: flex;
   flex-direction: column;
}
#experiencia #autoBiografia p {
   width: 500px;
   font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman';
   font-size: 18px;
}
#experiencia #elojios_principales {
   width: 80%;
   margin: auto;
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
#experiencia #elojios_principales .elojios {
   width: 16vw;
   border-bottom: 5px solid #4c8292;
}
#experiencia #elojios_principales .elojios h1 {
   font-size: 5vw;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #4c8292;
}
#experiencia #elojios_principales .elojios p {
   margin-bottom: 25px;
   font-size: 1.5vw;
   font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   color: #4c8292;
}