footer {
   padding: 75px;
   display: flex;
   flex-direction: column;
   align-items: center;
}
footer #column--33 {
   width: 80vw;
   margin-bottom: 25px;
   display: flex;
   justify-content: space-between;
}
footer .column {
   width: 20vw;
}
footer .column h3 {
   font-size: 1.8vw;
   margin-bottom: 10px;
}
footer .column p {
   font-size: 1.3vw;
}
footer #column--33 .column a {
   text-decoration: none;
   color: #19728e;
}
footer #column--33 .column a span {
   margin-left: 10px;
}